*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.px-4 {
  margin: 0px !important;
}
.b-example-divider {
  height: 5rem !important;
  background-color: #ffb347 !important;
  padding-bottom: 20px;
}
h1
{
  font-family: "Copperplate", fantasy;
  padding-bottom: 30px;
}
.fs-4
{
  font-family: "Copperplate", fantasy;
  color: #ffa327;
}

.mb-4
{
  font-family: "Garamond", serif;
  padding-bottom: 30px;
}
.chuckPic
{
  padding-top: 30px;
  height: 15%;
  width: 15%;
}
#chuckJoke
{
  margin: 10px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 5px solid #ffb347;
}
#chuckButton
{
  font-family: "Copperplate", fantasy;
  font-size: 2em;
  width: 25%;
  padding: 15px;
}
@media only screen and (max-width: 510px)
{
 #chuckButton
  {
    font-size: 1em;
    text-align: center;
    width:100%;
    padding: 10px;
  }
  #chuckPic
  {
    height: 80%;
    width: 80%;
  }
}
